*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.scala-build/
.vscode/
.metals/
.bsp/
*.run
*.js
*.out
*~

bin/jo
bin/jo.native
*.sast
bin/jo.jar
docs/jo_pygments.egg-info
docs/__pycache__
docs/venv
venv
.cache/
demos/*/out
.cache/
docs/.vitepress/cache/
docs/.vitepress/dist/
node_modules/
.venv/
.build/
